.component {
	position: sticky;
	z-index: 1000;
	top: 0;
	background: linear-gradient(
		to right,
		transparent 0,
		#fff 45%,
		#fff 55%,
		transparent 100%
	);
	border-bottom: solid 2px rgba(255, 255, 255, 0.5);
	width: 100vw;
	height: 100px;
	backdrop-filter: blur(30);
	padding: 0 25px;

	@media (min-width: 768px) {
		padding: 0 50px;
	}
}

.wrapper {
	width: 100%;
	max-width: 1340px;
	margin: auto;
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	grid-template-areas: "start logo end";
	justify-items: center;
}

.logo {
	grid-column: logo;
	transform: translateY(35px);
	margin-top: -20px;
}

.menuToggle {
	cursor: pointer;
}

.menu {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(30);
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	pointer-events: none;
	padding: 0 25px;

	@media (min-width: 768px) {
		padding: 0 50px;
	}

	&[data-open="true"] {
		opacity: 1;
		transform: none;
		pointer-events: auto;

		.item {
			opacity: 1;
			transform: none;
		}
	}
}

.list {
	padding-top: 175px;
	max-width: 1340px;
	display: grid;
	justify-items: end;
	margin: auto;
	display: grid;
	gap: 10px;
}

.item {
	font-family: var(--font-raleway);
	font-size: 60px;
	line-height: 70px;
	font-weight: 900;
	color: var(--color-dark);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	transform: translateY(-10px);
}
