.component {
	padding: 0 25px;
}

.wrapper {
	max-width: var(--width-max);
	margin: auto;
	position: relative;
	border-radius: 20px;
	padding: 20px;
	overflow: hidden;
	display: grid;
	align-content: center;
	justify-content: center;
	gap: 50px;
	padding: 100px 25px 25px;

	@media (min-width: 768px) {
		padding: 100px 25px;
	}
}

.content {
	max-width: 800px;
	background: color-mix(in srgb, var(--color-light) 50%, transparent);
	border-radius: 20px;
	border: solid 2px color-mix(in srgb, var(--color-light) 50%, transparent);
	padding: 25px;
	text-align: center;
	display: grid;
	gap: 25px;

	@media (min-width: 768px) {
		padding: 50px;
	}
}

.header {
}

.heading {
	font-size: 2.074rem;
	text-wrap: balance;
}

.subheading {
	font-size: 1rem;
	font-weight: 700;
}

.background {
	z-index: -1;
	object-fit: cover;
}
