.component {
	padding: 0 25px;
}

.wrapper {
	max-width: var(--width-max);
	margin: auto;
	padding: 20px 0;
	display: grid;
	gap: 50px;
	grid-template-areas:
		"image"
		"content";

	@media (min-width: 768px) {
		grid-template-columns: 500px 1fr;
	}
}

.content {
	display: grid;
	gap: 25px;
	align-content: center;
}

.header {
	display: grid;
}

.subheading {
	font-size: 1rem;
	font-weight: 700;
}

.image {
	width: 100%;
	height: 0;
	padding-top: 100%;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	grid-area: image;
}
