.component {
	padding: 0 25px;
}

.wrapper {
	max-width: var(--width-max);
	margin: auto;
	padding: 20px 0;
	display: grid;
	gap: 50px;
	grid-template-areas:
		"image"
		"content";

	@media (min-width: 768px) {
		grid-template-columns: 500px 1fr;
		grid-template-areas: "image content";

		&[data-reverse="true"] {
			grid-template-columns: 1fr 500px;
			grid-template-areas: "content image";
		}
	}
}

.content {
	display: grid;
	gap: 25px;
	align-content: center;
	grid-area: content;
	text-wrap: balance;
}

.header {
	display: grid;
}

.subheading {
	font-size: 1rem;
	font-weight: 700;
}

.description {
	display: grid;
	gap: 1rem;
}

.image {
	width: 100%;
	height: 0;
	padding-top: 100%;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	grid-area: image;
	z-index: -1;

	img {
		object-fit: cover;
	}
}
