@import "tailwindcss";

:root {
	--color-light: #ffffff;
	--color-dark: #1c292d;
	--color-gray: #616d69;
	--color-teal: #9ee6f2;
	--color-seafoam: #9ef2cc;

	--width-max: 1340px;
}

html {
	background: var(--color-light);
	color: var(--color-dark);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;

	@media (min-width: 768px) {
		font-size: 20px;
	}
}

body {
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-raleway);
	font-weight: 900;
	line-height: 1.175em;
}

h1 {
	font-size: 2.986rem;
}

h2 {
	font-size: 2.488rem;
}

h3 {
	font-size: 2.074rem;
}

h4 {
	font-size: 1.728rem;
}

h5 {
	font-size: 1.44rem;
}

h6 {
	font-size: 1.2rem;
}

p {
	font-family: var(--font-lato);
	font-size: 1rem;
}
