@import "tailwindcss";

:root {
	--color-light: #ffffff;
	--color-dark: #1c292d;
	--color-gray: #616d69;
	--color-teal: #9ee6f2;
	--color-seafoam: #9ef2cc;
}

body {
	background: var(--color-light);
	color: var(--color-dark);
	font-family: Arial, Helvetica, sans-serif;
}
